 .cover-movie{
   width: 100%;
    height: 6%;
}


.container {
  padding-bottom: 5px;
  width: 100%;
  overflow: hidden; 
  white-space: nowrap;

  ::-webkit-scrollbar {
    display: none;
  }

  .scroll {
    overflow: auto;
  }
  
}

.poster {
  position: absolute;
  left: 2%;
  top: 3%;
  width: 20%;
  z-index: 1;
}