<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>Movie Detail</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card>

    <img class="cover-movie" src="https://image.tmdb.org/t/p/w1920_and_h800_multi_faces/{{data.backdrop_path}}" />
    <img class="poster" src="https://image.tmdb.org/t/p/w300_and_h450_bestv2/{{data.poster_path}}" />

    <ion-card-header>
      <ion-card-subtitle>{{data.release_date}}</ion-card-subtitle>
      <ion-card-title>{{data.original_title}} </ion-card-title>
      <ion-card-subtitle>Vote average: {{data.vote_average}}/10</ion-card-subtitle>
    </ion-card-header>

    <ion-card-content class="ion-text-justify">
      <div class="container">
        <ion-card-title>Genre</ion-card-title>
        <div class="scroll" scrollX="true">
          <span *ngFor="let item of data.genres">
            <ion-chip>{{item.name}}</ion-chip>
          </span>
        </div>
      </div>
      <ion-card-title>Description</ion-card-title>
      {{data.overview}}
      <div class="container">
        <ion-card-title>Language</ion-card-title>
        <div class="scroll" scrollX="true">
          <span *ngFor="let item of data.spoken_languages">
            <ion-chip>{{item.name}}</ion-chip>
          </span>
        </div>
      </div>

      <div class="container" *ngIf="showProductionCompanies">
        <ion-card-title>Production Companies</ion-card-title>
        <div class="scroll" scrollX="true">
          <span *ngFor="let item of data.production_companies">
            <ion-chip>{{item.name}}</ion-chip>
          </span>
        </div>
      </div>

      <div class="container" *ngIf="showProductionCountries">
        <ion-card-title>Production Countries</ion-card-title>
        <div class="scroll" scrollX="true">
          <span *ngFor="let item of data.production_countries">
            <ion-chip>{{item.name}}</ion-chip>
          </span>
        </div>
      </div>
    </ion-card-content>
  </ion-card>
</ion-content>
