<ion-header>
  <ion-toolbar>
    <ion-title>Search Movie</ion-title>
  </ion-toolbar>
  <ion-toolbar>
    <!-- <ion-searchbar (ionInput)="getMovieByName($event)"></ion-searchbar> -->
    <ion-searchbar (keyup.enter)="getMovieByName($event)">

    </ion-searchbar>
  </ion-toolbar>
</ion-header>

<ion-content fullscreen>
  <ion-grid>
    <ion-row>
      <ion-col *ngFor="let movie of moviesData.results" size-xs="6" size-sm="4" size-md="3" size-lg="2" size-xl="1" >
        <ion-card class="fixline" routerLink='/movie-detail/{{movie.id}}'>
          <img class="cover-movie"  src="https://image.tmdb.org/t/p/w220_and_h330_face/{{movie.poster_path}}"/>
          <ion-card-title class="fixtext">
            {{movie.original_title}}
          </ion-card-title>
        </ion-card>
      </ion-col>
    </ion-row>
  </ion-grid>


</ion-content>