


.fixtext {
padding: 5px;

}

 .img {
    float: left;
    width:  100px;
    height: 100px;
    background-size: cover;
}

ion-content {
    ion-col {
        display: flex;
    }
}

ion-card {
    ion-card-content {
        padding: 0 !important;

        ion-card-title {        
            padding-top: 1.5rem !important;
            padding-bottom: 1.5rem !important;
        }
    }
}